
---

### Repeated operations


<div class="alert alert-block alert-info">
    
1. Create two vectors called ``vec1`` and ``vec2`` that each contain 50,000 random draws from the integer numbers between 1 and 100. Make sure the "random" operation produces the same results when the code is re-evaluated.
</div>

In [9]:
# Load all important packages for this assignment:
import pandas as pd
import numpy as np
import time

In [10]:
# I use set.seed() to produce the same results when we rerun the code:
np.random.seed(123)

# Now I create two vectors with each containing of 50,000 random integers from
# a range between 1 and 100
vec1 = np.random.randint(1,100, size = 50000)
vec2 = np.random.randint(1,100, size = 50000)

# The vectors look like this:
print(vec1[0:9])
print(vec2[0:9])

[67 93 99 18 84 58 87 98 97]
[87 40 51 78 16 52 74 78 40]

Consider the following ``for`` loop in R that subtracts the values of ``vec1`` and ``vec2`` from each other element-wise, squares the differences, and then takes the square root. The results are stored in the vector ``absoluteDifferences``.

```{r}
# Initiate empty object to store maximum values per row:
absoluteDifferences <- NULL

# Iterate through rows, find absolute difference, and append the value to the 
# object 'absoluteDifferences':
for (i in 1:length(vec1)){
  absoluteDifferences <- c(absoluteDifferences, sqrt((vec1[i] - vec2[i])^2))
}
```

This operation is not coded efficiently regarding several aspects.


<div class="alert alert-block alert-info">
    
3. Try and find one solution in Python that speeds up the operation. Explain the intuition behind this solution and why it leads to an efficiency gain. Track speed and compare with your timings from task 2 in R!
</div>

In [16]:
# I first track the time of the loop operation, to show how slow loop operators
# compute tasks compared to using an apply function or vectorizing functions.

# Initiate empty object to store maximum values per row:
absoluteDifferences = [None] * len(vec1)

start_time1 = time.time()

# Iterate through rows, find absolute difference, and append the value to the
# object 'absoluteDifferences':

for i in range(len(vec1)):
    absoluteDifferences[i] = np.sqrt((vec1[i] - vec2[i])**2) 

print(round(time.time() - start_time1, 5))


# Optimization approach using vectorized functions:

start_time2 = time.time()

vec_abs_diff = np.sqrt((vec1 - vec2)**2)

print(round(time.time() - start_time2, 5))


# Vectorized functions have the advantage, that Python does not have to figure out
# the data type for each single element of the vectors. In the loop approach Python
# has to figure out after each repetition which type the certain element of the ith
# run has. On the other side for the vectorized approach Python knows that a vector
# element always has the same data type and therefore a lot of proceeding is saved
# in a vectorized approach.

# Compared to R you can see no real time differences between the two vectorized
# approaches. On the other side you can see a time advantage for Python for the
# loop approach. It seems that Python can operate loops faster than R

0.09097
0.001

---

# SQL wrapper functions in Python

Remember that the `DBI` package has the two convenient functions `dbListTables()` and `dbListFields()` to list all tables of a database and to list all fields in a table, respectively?

In the next two tasks, you have to create corresponding functions in Python. To make your life easier, assume that you only want to connect to MySQL databases. Further, assume that all databases you might want to connect to have as database names only word characters (equivalent to [a-zA-Z0-9_]). 


<div class="alert alert-block alert-info">
    
4. Create the function `dbListTables()`. The function should take only a connection object (as created by {sqlalchemy}'s `create_engine` function) as input. The function should then return all tables that are part of the connected database as a *list of strings*. Within the function, extract the name of the database from the connection URL (the URL is stored in `con.url`) and use an SQL query to retrieve the tables.
</div> 

An exemplary function call (assuming you have connected to the `tweater` database as shown in the class exercises) should look like this:
    
```
In [1]: dbListTables(con)
Out[1]: ['comments', 'tweats', 'users']
```

In [17]:
# Preparations Part 2 

# I use the Tweater data set as an example for the functions.
# You can use any other MySQL data set for the two functions.
# Since there this informations contains sensible information I will do the testing in another script so I do not have to
# display the password for this MySQL server. You can access the server via the following code if you have the necessary
# information:

# sql_type, user, password = "mysql+pymysql", "user", "password"
# host, database = "host", "database"
# db_connection_str = f"{sql_type}://{user}:{password}@{host}/{database}"
# con = create_engine(db_connection_str)


# Create a function that gives you the table names of the MySQL file:

def dbListTables(con):
    
    # Extract the database name
    url = con.url
    url_str = str(url)
    split_url = re.split(pattern = "/", string = url_str)
    database_name = split_url[-1]
    
    # Now the name of the database is stored in the variable database_name
    # Now we can plug in the database name in a query
    query = (f"SELECT TABLE_NAME FROM information_schema.tables " +
             f"WHERE TABLE_SCHEMA = '{database_name}'")
    
    # Use the pd.read_sql function to get the tables of the data base
    tables_np = pd.read_sql(query, con).values
    
    # Transfer the np arry into a list
    tables = tables_np.tolist()
    
    # The Proble is that at the moment every table name is its own list
    # Recode the names of the tables, which are lists, into strings
    for i in range(0, len(tables)):
        tables[i] = ''.join(tables[i])
        
    # Return the end result
    return(tables)

# An example of the function:
print(dbListTables(con))

# This code will work if you use a real connection, since this is a sensitive information I will not display these information
# therefore I will not be able to connect to a real data base.

NameError: name 'con' is not defined

<div class="alert alert-block alert-info">

5. Create the function `dbListFields()`. The function should take a connection object (as created by {sqlalchemy}'s `create_engine` function) as well as the name of a table as input. The function should then return all fields (i.e., columns) that are part of the requested table as a *list of strings*. As in the previous exercise, extract the name of the database from the connection URL and use an SQL query to retrieve the fields.  
</div>

An exemplary function call (assuming you have connected to the `tweater` database as shown in the class exercises) should look like this:
    
```
In [1]: dbListFields(con, 'comments')
Out[1]: ['id', 'tweat_id', 'user_id', 'message']

In [18]:
# Create a function that gives you the column names of a table in a MySQL file:
def dbListField(con, table_name):
    
    # Extract the database name
    url = con.url
    url_str = str(url)
    split_url = re.split(pattern = "/", string = url_str)
    database_name = split_url[-1]

    # Now the name of the database is stored in the variable database_name
    # Now we can plug in the database name in a query
    query = (f"SELECT COLUMN_NAME FROM information_schema.columns " +
             f"WHERE TABLE_SCHEMA = '{database_name}'" +
             f"AND TABLE_NAME = '{table_name}'")

    # Use the pd.read_squl function to get the fields of the data base
    fields_df = pd.read_sql(query, con)
    
    # Transfer the data frame into a list
    fields = fields_df.values.tolist()
    
    # The Proble is that at the moment every field name is its own list
    # Recode the names of the columns, which are lists, into strings
    for i in range(0, len(fields)):
        fields[i] = ''.join(fields[i])
    
    return(fields)    

# Some examples of the function:
print(dbListField(con, "tweats"))
print(dbListField(con, "users"))
print(dbListField(con, "comments"))

# This is the same case as in the previous exercise. This function will give you the fields of the tables but since I can not 
# display private information you have to use your own connection to a SQL server to use this function.

NameError: name 'con' is not defined

---

# SQLite Database Management – Soccer Data

The SQLite database ``soccer.sqlite`` (located in ``soccer.zip``) contains information about over 24,000 soccer matches in different countries and leagues, the competing teams, and the players that appeared in the respective matches. The data is stored in a relational format and information can be joined as as displayed in the instructions PDF.

Execute the following lines of code in order to establish a connection to the database:

In [19]:
# (Install and) load relevant packages here:
import sqlite3

# Establish connection to the SQLite database "soccer.sqlite":
sql_type, path = "sqlite", "C:/Users/gross/OneDrive/Dokumente/soccer/soccer.sqlite"
db_connection_str = f"{sql_type}:///{path}"
con = create_engine(db_connection_str)

<div class="alert alert-block alert-info">

6. By performing adequate SQL queries, answer the following questions:</br>
a) What are the team IDs of *FC Bayern Munich* and *Borussia Dortmund*?
</div>

In [20]:
team_id_Bayern = pd.read_sql("""
                    SELECT id
                    FROM Team
                    WHERE team_long_name = 'FC Bayern Munich'
                    """, con)
print("Team id Bayer:")
print(team_id_Bayern)

team_id_Dortmund = pd.read_sql("""
                    SELECT id
                    FROM Team
                    WHERE team_long_name = 'Borussia Dortmund'
                    """, con)
print("Team id Dortmund:")
print(team_id_Dortmund)

Team id Bayer:
     id
0  9823
Team id Dortmund:
     id
0  9789

<div class="alert alert-block alert-info">
b) What is the match ID of the match between *FC Bayern Munich* (home team) and *Borussia Dortmund* (away team) in the season of 2015/2016?
</div>

In [21]:
match_id_FCB_BVB_15_16 = pd.read_sql("""
                   SELECT id AS Match_id
                   FROM Match
                   WHERE home_team_id = '9823'
                   AND away_team_id = '9789'
                   AND season = '2015/2016'
                   """, con)
print("Match id Bayern vs. Dromund 2015/16 season:")
match_id_FCB_BVB_15_16

Match id Bayern vs. Dromund 2015/16 season:

   Match_id
0   2002155

<div class="alert alert-block alert-info">
c) When, i.e., on which date, did the match between *FC Bayern Munich* and *Borussia Dortmund* in the season 2015/2016 (``id`` identified in b) take place?
</div>

In [22]:
date_FCB_BVB_15_16 = pd.read_sql("""
                                 SELECT date
                                 FROM Match
                                 WHERE id = '2002155'
                                 """, con)
date_FCB_BVB_15_16

                  date
0  2015-10-04 00:00:00

<div class="alert alert-block alert-info">
d) What were the names of the players who appeared in this match for *FC Bayern Munich* (i.e., the home team players)?
</div>

In [23]:
# First get the player ids of the players
player_id_FCB = pd.read_sql("""
                         SELECT home_player_1, home_player_2, home_player_3,
                         home_player_4, home_player_5, home_player_6, home_player_7,
                         home_player_8, home_player_9, home_player_10, home_player_11
                         FROM Match
                         WHERE id = '2002155'
                         """, con)
player_id_FCB

# Second use the player ids to get the names of the players
player_FCB = pd.read_sql("""
                         SELECT player_name
                         FROM Player
                         WHERE id = '27299'
                         OR id = '30894'
                         OR id = '37410'
                         OR id = '36183'
                         OR id = '121633'
                         OR id = '30889'
                         OR id = '172949'
                         OR id = '116772'
                         OR id = '177714'
                         OR id = '156726'
                         OR id = '93447'
                         """, con)
player_FCB

# A alternative approach is to use an INNER JOIN:
player_names = pd.read_sql("""
                           SELECT player_name FROM Player
                           INNER JOIN Match ON Player.id IN (Match.home_player_1,
                           Match.home_player_2,
                           Match.home_player_3,
                           Match.home_player_4,
                           Match.home_player_5,
                           Match.home_player_6,
                           Match.home_player_7,
                           Match.home_player_8,
                           Match.home_player_9,
                           Match.home_player_10,
                           Match.home_player_11)
                           WHERE Match.id == '2002155'
                           """, con)
player_names

           player_name
0          David Alaba
1        Douglas Costa
2      Javier Martinez
3       Jerome Boateng
4         Manuel Neuer
5         Mario Goetze
6         Philipp Lahm
7   Robert Lewandowski
8     Thiago Alcantara
9       Thomas Mueller
10         Xabi Alonso

<div class="alert alert-block alert-info">
e) What is the average ``height`` and ``weight`` of the players identified in d)?
</div>

In [24]:
avg_heigth_weight = pd.read_sql("""
                         SELECT AVG(height), AVG(weight)
                         FROM Player
                         WHERE id = '27299'
                         OR id = '30894'
                         OR id = '37410'
                         OR id = '36183'
                         OR id = '121633'
                         OR id = '30889'
                         OR id = '172949'
                         OR id = '116772'
                         OR id = '177714'
                         OR id = '156726'
                         OR id = '93447'
                         """, con)
avg_heigth_weight

# A alternative approach is to use an INNER JOIN:
player_height_weight = pd.read_sql("""
                           SELECT AVG(height), AVG(weight)
                           FROM Player
                           INNER JOIN Match ON Player.id IN (Match.home_player_1,
                           Match.home_player_2,
                           Match.home_player_3,
                           Match.home_player_4,
                           Match.home_player_5,
                           Match.home_player_6,
                           Match.home_player_7,
                           Match.home_player_8,
                           Match.home_player_9,
                           Match.home_player_10,
                           Match.home_player_11)
                           WHERE Match.id == '2002155'
                           """, con)
player_height_weight

   AVG(height)  AVG(weight)
0   182.187273    76.909091

<div class="alert alert-block alert-info">
f) How many different leagues (``league_id``) are represented in the table ``Match``?
</div>

In [25]:
unique_leagues = pd.read_sql("""
                             SELECT COUNT(DISTINCT league_id) AS
                             Number_of_different_leagues
                             FROM Match
                             """, con)
unique_leagues

   Number_of_different_leagues
0                           10